# Pandas Function Application

In [1]:
import numpy as np
import pandas as pd
frame=pd.DataFrame(np.random.randn(4,3),
                  columns=list('bde'),
                  index=['utah','ohio','texas','oregon'])
print(frame)
#print(np.abs(frame))
#print(frame['d'].max())
#print(frame['d'].min())
#print(frame['d'].max()-frame['d'].min())

#f=lambda x:x.max()-x.min()
#df_c=frame.apply(f)
#df_c
#df_r=frame.apply(f,axis=1)
#print(df_r,type(df_r))

def min_max(x):
    minimum=x.min()
    maximum=x.max()
    return pd.Series([maximum,minimum],index=['min','max'])
df=frame.apply(min_max)
print(df,type(df))

               b         d         e
utah   -1.028803  0.430171  2.722888
ohio   -1.481555  0.148754 -0.113133
texas   0.901924 -0.371537 -0.134415
oregon -0.484207 -1.161502  1.005957
            b         d         e
min  0.901924  0.430171  2.722888
max -1.481555 -1.161502 -0.134415 <class 'pandas.core.frame.DataFrame'>

In [2]:
df=pd.DataFrame(np.arange(8).reshape((2,4)),index=['three','one'],columns=['c','d','b','a'])
print(df)
print(df.sort_index(axis=1,ascending=False))
print(df.sort_index())

       c  d  b  a
three  0  1  2  3
one    4  5  6  7
       d  c  b  a
three  1  0  2  3
one    5  4  6  7
       c  d  b  a
one    4  5  6  7
three  0  1  2  3

In [3]:
print(df.sort_values(by='b'))
print(df.rank(ascending=False,method='max'))
print(df.rank(ascending=True,method='min'))
print(df.rank(axis='columns'))

       c  d  b  a
three  0  1  2  3
one    4  5  6  7
         c    d    b    a
three  2.0  2.0  2.0  2.0
one    1.0  1.0  1.0  1.0
         c    d    b    a
three  1.0  1.0  1.0  1.0
one    2.0  2.0  2.0  2.0
         c    d    b    a
three  1.0  2.0  3.0  4.0
one    1.0  2.0  3.0  4.0

In [4]:
print(df.sum())
print(df.sum(axis=1))

c     4
d     6
b     8
a    10
dtype: int64
three     6
one      22
dtype: int64

In [5]:
print(df.mean())
print(df.mean(axis='columns',skipna=True))

c    2.0
d    3.0
b    4.0
a    5.0
dtype: float64
three    1.5
one      5.5
dtype: float64

In [6]:
print(df['b'].unique())
print(df['b'].value_counts())

[2 6]
6    1
2    1
Name: b, dtype: int64

In [7]:
frame=pd.DataFrame(np.arange(16).reshape((4,4)),index=['ohio','colorado','utah','new york'],
                  columns=['one','two','three','four'])
print(frame)
print(frame.loc['colorado',['three','one']])
print(frame.loc[['colorado','ohio'],['three','one']])

          one  two  three  four
ohio        0    1      2     3
colorado    4    5      6     7
utah        8    9     10    11
new york   12   13     14    15
three    6
one      4
Name: colorado, dtype: int32
          three  one
colorado      6    4
ohio          2    0

In [8]:
print(frame.iloc[2,[1,2]])

two       9
three    10
Name: utah, dtype: int32

In [9]:
print(frame.iloc[:])

          one  two  three  four
ohio        0    1      2     3
colorado    4    5      6     7
utah        8    9     10    11
new york   12   13     14    15

In [10]:
print(frame.iloc[:3,:3])

          one  two  three
ohio        0    1      2
colorado    4    5      6
utah        8    9     10

# Arithemtic and Data Alignement

In [11]:
df1=pd.DataFrame(np.arange(9).reshape((3,3)),index=['ohio','colorado','texas'],
                  columns=['b','c','d'])
df2=pd.DataFrame(np.arange(12).reshape((4,3)),index=['ohio','colorado','texas','oregon'],
                  columns=['b','d','e'])
print(df1)
print(df2)
df3=df1+df2
print(df3)

          b  c  d
ohio      0  1  2
colorado  3  4  5
texas     6  7  8
          b   d   e
ohio      0   1   2
colorado  3   4   5
texas     6   7   8
oregon    9  10  11
             b   c     d   e
colorado   6.0 NaN   9.0 NaN
ohio       0.0 NaN   3.0 NaN
oregon     NaN NaN   NaN NaN
texas     12.0 NaN  15.0 NaN

In [12]:
print(df1)
print(df2)
print(df1+df2)
df3=df1.add(df2,fill_value=0)
df3

          b  c  d
ohio      0  1  2
colorado  3  4  5
texas     6  7  8
          b   d   e
ohio      0   1   2
colorado  3   4   5
texas     6   7   8
oregon    9  10  11
             b   c     d   e
colorado   6.0 NaN   9.0 NaN
ohio       0.0 NaN   3.0 NaN
oregon     NaN NaN   NaN NaN
texas     12.0 NaN  15.0 NaN

             b    c     d     e
colorado   6.0  4.0   9.0   5.0
ohio       0.0  1.0   3.0   2.0
oregon     9.0  NaN  10.0  11.0
texas     12.0  7.0  15.0   8.0

# Operation between dataframe and series

In [13]:
frame=pd.DataFrame(np.arange(12).reshape((4,3)),index=['ohio','colorado','texas','oregon'],
                  columns=['b','d','e'])
print(frame)
series=pd.Series([3,2,4],index=['b','d','e'])
print(series.index,series.values)
print(frame-series)

          b   d   e
ohio      0   1   2
colorado  3   4   5
texas     6   7   8
oregon    9  10  11
Index(['b', 'd', 'e'], dtype='object') [3 2 4]
          b  d  e
ohio     -3 -1 -2
colorado  0  2  1
texas     3  5  4
oregon    6  8  7

# Delete data from pandas dataframe

In [14]:
frame=pd.DataFrame(np.arange(16).reshape((4,4)),index=['ohio','colorado','texas','oregon'],
                  columns=['b','d','e','a'])
print(frame,'\n')
frame=frame.drop('e',axis=1)
#frame.drop('e',axis=1,inplace=True)
frame=frame.drop('texas',axis=0)
print(frame)

           b   d   e   a
ohio       0   1   2   3
colorado   4   5   6   7
texas      8   9  10  11
oregon    12  13  14  15

           b   d   a
ohio       0   1   3
colorado   4   5   7
oregon    12  13  15

# slicing,indexing,filtering in dataframe

In [15]:
frame=pd.DataFrame(np.arange(16).reshape((4,4)),index=['ohio','colorado','texas','oregon'],
                  columns=['b','d','e','a'])
print(frame,'\n')
print(frame[['d','e']])
print(frame[:2])
print(frame['e']>6)

           b   d   e   a
ohio       0   1   2   3
colorado   4   5   6   7
texas      8   9  10  11
oregon    12  13  14  15

           d   e
ohio       1   2
colorado   5   6
texas      9  10
oregon    13  14
          b  d  e  a
ohio      0  1  2  3
colorado  4  5  6  7
ohio        False
colorado    False
texas        True
oregon       True
Name: e, dtype: bool

# Reindex and ffill

In [16]:
obj1=pd.Series(['blue','purple','yellow'],index=[0,3,6])
obj1
#obj1=obj1.reindex(range(9),method='ffill')
#obj1
obj1=obj1.reindex(range(2,11),method='ffill')
print(obj1)

2       blue
3     purple
4     purple
5     purple
6     yellow
7     yellow
8     yellow
9     yellow
10    yellow
dtype: object

In [17]:
frame=pd.DataFrame(np.arange(16).reshape((4,4)),index=['ohio','colorado','texas','oregon'],
                  columns=['b','d','e','a'])
frame_c=['a','b','c','d','e']
frame=frame.reindex(columns=frame_c)
print(frame)

           a   b   c   d   e
ohio       3   0 NaN   1   2
colorado   7   4 NaN   5   6
texas     11   8 NaN   9  10
oregon    15  12 NaN  13  14

# Selection with loc and iloc

In [18]:
frame=pd.DataFrame(np.arange(12).reshape((4,3)),index=['ohio','colorado','texas','oregon'],
                  columns=['b','d','e'])
print(frame)
#print(frame['d'])
#print(frame.d)
#print(frame.d[2:])
#print(frame['d'][2:])
#print(frame[frame['d']>4])
print(frame.d[frame['d']>4])
df=(frame.d>4)
print(frame[df])

          b   d   e
ohio      0   1   2
colorado  3   4   5
texas     6   7   8
oregon    9  10  11
texas      7
oregon    10
Name: d, dtype: int32
        b   d   e
texas   6   7   8
oregon  9  10  11

In [40]:
frame=pd.DataFrame(np.arange(12).reshape((4,3)),index=['ohio','colorado','texas','oregon'],
                  columns=['b','d','e'])
print(frame)
#print(frame.loc['colorado',['d','e']])
#print(frame.loc[['colorado','ohio'],['e','d']])
#print(frame.iloc[1,[0,1]])
#print(frame.iloc[[1,2],[2,3]])
#print(frame.iloc[:])
print(frame.iloc[:,:1])
print(frame.iloc[:2])

          b   d   e
ohio      0   1   2
colorado  3   4   5
texas     6   7   8
oregon    9  10  11
          b
ohio      0
colorado  3
texas     6
oregon    9
          b  d  e
ohio      0  1  2
colorado  3  4  5